<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link href="/css/lib/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/lib/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/lib/jquery-confirm.min.css"/>
    <link rel="stylesheet" href="/css/lib/jquery.toast.min.css"/>
    <link rel="stylesheet" href="/css/lib/daterangepicker.css"/>
    <link rel="stylesheet" href="/css/lib/jquery.datetimepicker.css"/>
    <link href="/css/lib/all.min.css" rel="stylesheet">
    <link href="/css/lib/font-awesome.css" rel="stylesheet">
    <script src="/js/lib/jquery-3.1.1.min.js"></script>
    <script src="/js/lib/bootstrap.min-3.3.7.js"></script>
    <link rel="stylesheet" href="/css/lib/common-datatable.css"/>
    <link rel="stylesheet" href="/css/lib/select2.min.css"/>
    <script src="/js/lib/pdfmake.min.js"></script>
    <script src="/js/lib/vfs_kalpurush.js"></script>
    <script src="/js/lib/vfs_fonts.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/lib/jquery.dataTables.js"></script>
    <script src="/js/lib/dataTables.buttons.min.js"></script>
    <script src="/js/lib/buttons.flash.min.js"></script>
    <script src="/js/lib/jszip.min.js"></script>
    <script src="/js/lib/buttons.html5.min.js"></script>
    <script src="/js/lib/buttons.print.min.js"></script>
    <script src="/js/lib/moment.min.js"></script>
    <script src="/js/lib/daterangepicker.min.js"></script>
    <script src="/js/lib/pdf.min.js"></script>
    <script src="/js/lib/pdf.worker.min.js"></script>
    <script src="/js/lib/jquery-confirm.min.js"></script>
    <script src="/js/lib/jquery.toast.min.js"></script>
    <script src="/js/lib/select2.min.js"></script>
    <title>Navbar</title>
</head>

<body>
<nav class="navbar navbar-expand-lg fixed-top" style="background-color: #CACFD2">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Logo/ Name</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav align-items-center">
                <li class="nav-item d-flex align-items-center ms-3 me-3">
                    <div>
                        <i class="far fa-user" style="color: black"></i>
                    </div>
                    <div>
                        <a class="nav-link" href="#">Alby</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>