<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link th:href="@{/css/lib/bootstrap.min.css}" rel="stylesheet">
    <title>Create Student</title>
</head>
<body>
<div th:replace="~{layout/header}"></div>
<div class="home-container">
    <div class="detailsContainer">
        <div class="formContainer">
            <form class="form-horizontal" name="formSubmit" id="formSubmit" autocomplete="off"
                  onsubmit="return false;">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <h5>Create Student</h5>
                    </div>
                    <div class="card-body">
                        <div class="input-container">
                            <div class="input-field">
                                <label>Student Name</label>
                                <input type="text" name="name" id="name"/>
                            </div>
                            <div class="input-field">
                                <label>Email</label>
                                <input type="email" name="email" id="email"/>
                            </div>
                            <div class="input-field">
                                <label>Mobile</label>
                                <input type="text" name="mobile" id="mobile"/>
                            </div>
                            <div class="input-field">
                                <label>Address</label>
                                <input type="text" name="address" id="address"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <button type="submit" class="btn btn-outline-success" onclick="submitStudentData()">
                        Submit
                    </button>
                    <button type="reset" class="btn btn-outline-danger" onclick="reloadPage()">Reset</button>
                </div>
            </form>
        </div>
        <div class="tableContainer">
            <h2 style="text-align: center;">Student List</h2>
            <table class="table table-bordered stripe" id="myTable">
            </table>
        </div>
    </div>
    <div id="loadingContent"></div>
</div>
<script type="application/javascript">
    $(document).ready(function(){
        loadStudentDataList();
    })
</script>
</body>
</html>